<div class="my-businesses-container">

    <div class="text-center mb-4">
        <h2 class="fw-bold">My Payout Deliveries</h2>
        <p class="text-muted">View your payout deliveries and track your progress.</p>
    </div>

    <!-- Open Shops Section -->
    <div class="h5 mb-2 mt-3">Deliveries</div>
    <div class="d-flex justify-content-center mb-3">
        <div class="row">
            <div *ngFor="let order of orders" class="col-md-6 col-xl-4 d-flex justify-content-center">
                <a routerLink="../order/{{order?.id}}">
                    <div class="order-card d-flex justify-content-between px-2 py-2 m-1">
                        <div class="info">
                            <div class="pb-1 text-muted">Delivery No. {{order?.id}}</div>
                            <div class="pb-1 text-muted">Date. {{order?.date | date: 'd MMM y h:mma'}}</div>
                            <div class="pb-1 text-muted">Amount. {{getOrderAmount(order) | currency:'R'}}</div>
                        </div>
                        <div class="status d-flex justify-content-center text-center">{{stage}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>