<div class="">

    <div class="text-center mb-4">
        <h2 class="fw-bold">Why Join iZinga?</h2>
        <p class="text-muted">Boost your business with a digital storefront and secure payments.</p>
    </div>

    <ul class="list-group steps mb-3">
        <li class="list-group-item step">📈 <strong>Grow Your Business:</strong> List your shop on iZinga and attract more customers to your products.</li>
        <li class="list-group-item step">🛒 <strong>Dedicated Store Page:</strong> Get your own store page where customers can easily browse and purchase your products.</li>
        <li class="list-group-item step">💵 <strong>Instant Payments:</strong> Receive your earnings directly into your bank account or cellphone number as soon as the sale is made.</li>
        <li class="list-group-item step">🏧 <strong>Easy Withdrawals:</strong> Withdraw your money from any ATM whenever you need it, without any hassle.</li>
        <li class="list-group-item step">🔒 <strong>Secure Transactions:</strong> Enjoy peace of mind with safe and secure payment processing for every order and tip you receive.</li>
        <li class="list-group-item step">💸 <strong>Daily Payouts:</strong> Get daily payouts directly to your bank account or e-wallet, ensuring you have quick access to your earnings.</li>
        <li class="list-group-item step">📋 <strong>Withdrawal Limits:</strong> Payments to a cellphone number have a daily withdrawal limit of R3000. Any amount exceeding R3000 will be carried over and paid out on the next payout day.</li>
        <li class="list-group-item step">👌 <strong>Convenient Tipping:</strong> Let your customers easily tip you using your unique QR code, with funds transferred directly to your account.</li>
    </ul>

    <div class="text-center mb-4">
        <h2 class="fw-bold">How to Get Started</h2>
        <p class="text-muted">Follow these simple steps to set up your store and start earning.</p>
    </div>
    <ul class="list-group steps mb-3">
        <li class="list-group-item step">1. <strong>Sign Up:</strong> Create your account with your phone number, full name, and preferred bank account or e-wallet.</li>
        <li class="list-group-item step">2. <strong>Set Up Your Store:</strong> List your shop on iZinga, customize your store page, and add your products to start selling.</li>
        <li class="list-group-item step">3. <strong>Download Your QR Code:</strong> Receive your personalized QR code to make tipping easy and seamless for your customers.</li>
        <li class="list-group-item step">4. <strong>Start Selling:</strong> Watch your sales grow as customers discover your shop and place orders directly through iZinga!</li>
    </ul>

</div>

<div class="row fixed-bottom">
    <!-- Add New Stock Item Button -->
        <button type="button" class="col btn bg-dark shadow-sm" routerLink="./verify">Get Started</button>
</div>
