
    <div class="">
        <div class="text-center mb-5">
            <h2>Get Paid Seamlessly with iZinga!</h2>
            <p>Want an easy and secure way to receive payments or tips? Look no further! 
                Izinga offers a convenient platform for you to get paid directly into your bank account or cellphone number and 
                withdraw your money from any ATM.</p>
        </div>
        <div class="text-center mb-3">
            <h2>Why Choose iZinga?</h2>
        </div>
        <ul class="list-group steps mb-3">
            <li class="list-group-item step">💵 <strong>Instant Payments:</strong> Receive payments or tips instantly into your bank account or cellphone number.</li>
            <li class="list-group-item step">🏧 <strong>Easy Withdrawals:</strong> Withdraw your money from any ATM whenever you need it.</li>
            <li class="list-group-item step">🔒 <strong>Secure Transactions:</strong> Enjoy safe and secure payment processing.</li>
            <li class="list-group-item step"><strong>Payment Limit:</strong> Payments to a cellphone number have a daily withdrawal limit of R3000. If your balance exceeds R3000, the remaining amount will be paid out on the next payout day.</li>
            <li class="list-group-item step">👌 <strong>Convenient for Customers:</strong> Easy for customers to tip you without the hassle of cash.</li>
        </ul>
        
        <div class="text-center mb-3">
            <h2>Steps to Register:</h2>
        </div>
        <ul class="list-group steps">
            <li class="list-group-item step">1. <strong>Create Your Account:</strong>sign up with your phone number, name and your prefered bank account.</li>
            <li class="list-group-item step">2. <strong>Download Your Unique QR Code:</strong> After registration, download your personalized QR code.</li>
            <li class="list-group-item step">3. <strong>Start Receiving Payments:</strong> Share your QR code with your customers, who can scan it to tip you instantly!</li>
        </ul>
    
    </div>

    <div class="row fixed-bottom">
        <!-- Add New Stock Item Button -->
            <button type="button" class="col btn bg-dark shadow-sm" routerLink="./verify">Get Started</button>
    </div>


